body{
    background-image: url("./bgimg.jpg");
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-size: cover;
    font-weight:bold;
    text-align: center;

}

h1{
    color: antiquewhite;
    margin-top:40px;   
}

h2{
    color: antiquewhite;
    font-size: 100px;
}

#increment-btn{
    color: antiquewhite;
    background-color: rgb(17, 17, 87);
    font-size:20px;
    padding:14px 10px ;
    border-radius: 20px;
    border-color: antiquewhite;
    width: 200px;
    margin-bottom:10px;
    margin-left: 40px;
    margin:40px;
}
#save-btn{
    color: antiquewhite;
    background-color: rgb(17, 17, 87);
    font-size:20px;
    padding:14px 10px ;
    border-radius: 20px;
    border-color: antiquewhite;
    margin-bottom:10px;
    width: 200px;
    margin:40px;
}

#count-dec{
    color: antiquewhite;
    background-color: rgb(17, 17, 87);
    font-size:20px;
    padding:14px 10px ;
    border-radius: 20px;
    border-color: antiquewhite;
    margin-bottom:10px;
    width: 200px;
    margin:40px;

}